{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About Rango
{% endblock %}

    {% block body_block %}
        <div>
            <strong>{{ boldmessage }}</strong><br />
        </div>
        <div>
            <a href="/rango/">Index</a><br />
            <p>Visits: {{ visits }}</p>
            <img src="{% static 'images/rango.jpg' %}"
            alt="Picture of Rango" /> <!-- New line -->

        </div>
        <div>
            <img src= "{{MEDIA_URL}}cat.jpg"
            alt="Picture of a Cat" /> <!-- New line -->
        </div>
    {% endblock %}


